{% extends 'base.html.twig' %}

{% block title %}New Item{% endblock %}

{% block body %}
    <h1>Create new Item</h1>
    <twig:ItemNewForm/>
    <a href="{{ path('app_item_index') }}"><button class="btn btn-info mt-3">Back to list</button></a>
{% endblock %}
